.contactPage {
    grid-column: 1/7;
    grid-row: 8;
}
.contactPage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #BDE0FE;
    @include roundCorners(10px);
}


.contactPage form {
    grid-column: 2/6;
}

.contactPage form {
    display: grid;
    grid-template-columns: 1fr;
}

.contactTitle {
    grid-column: 1/7;
    grid-row: 1;
    justify-self: center;
}

.contactTitle {
    font-family: $title-font;
    font-size: 2em;
    color: #fff;
}