#homeGallery {
    grid-column: 1/7;
    grid-row: 6;
    padding-bottom: 30px;
}

#homeGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

}


.seeMore {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 2em;    
    grid-column: 3/5;
    grid-row: 5;
    justify-self: center;

    // align-self: center;
   :hover {
       color: pink;
       box-shadow: none;
   }
  
}

.seeMore a {
    padding: 5px;
    @include roundCorners(5px);
    background-color: #fff;
    text-decoration: none;
    color:#7FBAF1 ;
    box-shadow: 0px 3px 7px #777777;

    cursor: pointer;
}




.lGallery {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


@media all and (min-width: 700px) {
    #homeGallery {
        grid-column: 1/9;
    }

    .seeMore{ 
        grid-column: 4/6;
    }
}