#landingTitle{
    grid-column: 1/7;
    grid-row: 2;
    padding-top: 160px;
    padding-bottom: 10px;
}

.bigText {
    padding-left: 10px;
    font-family:$title-font;
    color: #FFC8DD;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 0px 3px 7px #777777;
}

@media all and (min-width: 700px) {
    #landingtitle {
        padding-top: 175px;
        padding-bottom: 30px;
    }
}
