ul li {
    list-style-type: none;}

body{
    background: #A2D2FF;
    margin: 0;

}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    margin: 0 ;
}

p {
    margin: 0;
    font-family: $main-font;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

h2 {
    margin: 0;
}

@media all and (min-width: 700px) {
    main {
        grid-template-columns: repeat(8, 1fr);

    }
}

@media all and (min-width: 950px) {
    main {
        grid-template-columns: repeat(8, 1fr);

    }
}