ul li {
    list-style-type: none;}

body{
    background: #A2D2FF;

}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(240px, auto);
    margin: 0 auto;
}

p {
    margin: 0;
}
