
$title-font: 'Titillium Web';

// @font-face {
//     font-family: "Ubuntu-light", monospace;
//     src: url('./fonts/Ubunt-Light.ttf') format("truetype");
// }
$main-font: 'Ubuntu';


.hidden {
    display: none;
}

